<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <div th:replace="commons::header"></div>
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
          <!--<input class="layui-input" placeholder="学科ID" >-->
          <input class="layui-input" placeholder="学科方向" th:id="subjectname" th:name="subjectname"/>
          <button class="layui-btn"  lay-submit lay-filter="sreach" th:name="subjecttype"><i class="layui-icon">&#xe615;</i></button>
        </div>
      </div>
      <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加用户','/list/subjectadd')"><i class="layui-icon"></i>添加</button>
      </xblock>
      <table class="layui-table x-admin" id="items-data">
        <thead>
          <tr>
            <th>学科ID</th>
            <th>学科方向</th>
            <th>备注</th>
            <th>操作</th>
            </tr>
        </thead>
        <tbody>
          <tr v-for="item in items">
            <td>{{item.id}}</td>
            <td>{{item.typeName}}</td>
            <td>{{item.statu}}</td>
            <td class="td-manage">
              <a title="查看" v-bind:id="item.id" onclick="x_admin_show('编辑','/list/newSubjectChange/'+id)" href="javascript:;">
                <i class="layui-icon">&#xe63c;</i>
              </a>
              <a title="删除" v-bind:id="item.id" onclick="member_del(id)" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <script>
        var vue = new Vue({
          el: "#items-data",
          data: {
            items:null
          }
        });
        $.ajax({
          url: base+"/list/Subject/one",
          method: "get",
          async: true,
          data:{"subjectname":$("#subjectname").val()},
          success: function(data){
            vue.items=data;
          }
        });

      layui.use(['form','layer','laydate'], function(){
        $=layui.jquery;
        var laydate = layui.laydate;
        var form = layui.form;
        layer=layui.layer;
        //开始条件查询请求
        form.on('submit(sreach)',function (data) {
          console.log(data)
          $.ajax({
            url : base + "/list/Subject/two",
            data:data.field,
            method: "get",
            success: function (data) {
              vue.items = data;
            }
          })
        });


        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });


      });

      /*用户-删除*/
      function member_del(obj){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
            if(index){
              $.post(base+"/list/newSubjectDelete/"+obj,function(data){
                if(data==1){
                  layer.msg('已删除!',{icon:1,time:1000});
                  //$(obj).parents("tr").remove();
                  location.replace(location.href);
                }else if(data==0){
                  layer.msg('请先删除学科关联信息...',{icon:2,time:1000});
                }
              })
            }

          });
      }



    </script>

  </body>

</html>