<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table class="layui-table x-admin">
        <thead>
        <tr>
            <th>
            </th>
            <th>编号</th>
            <th>题目</th>
            <th>出题老师</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task,status:${tasklist}" >
            <td>
                <input type="checkbox" th:id="${task.id}" onclick="getId(id)">
            </td>
            <td>[[${task.id}]]</td>
            <td th:utext="${task.question}"></td>
            <td>[[${task.tname}]]</td>
            <td class="td-manage"><input class="layui-btn" type="button" value="题目详情" th:id="${task.id}" onclick="x_admin_show('修改题目','/task/list/'+id)"/></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>