<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>作业预览</title>
    <div th:replace="commons::header"></div>
  </head>
  <body>
    <div class="x-nav">
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.reload();" title="刷新">
        <i class="layui-icon" style="line-height:30px">刷新</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input"  autocomplete="off" placeholder="日期" name="time" id="time">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
		</form>
      </div>
      <xblock>
          <div class="layui-input-inline">
              <input id="file" type="file" name="file" class="layui-btn"/>
              <button id="upload" type="button" class="layui-btn">上传答案</button>
          </div>
	   </xblock>
      <table class="layui-table x-admin" id="task-data" >
        <thead>
          <tr>
            <th>编号</th>
            <th>作业名称</th>
            <th>发布时间</th>
            <th>截止时间</th>
			<th>操作</th>
			</tr>
        </thead>
        <tbody>
          <tr v-for="task in tasks">
            <td>{{task.id}}</td>
            <td>{{task.taskName}}</td>
            <td>{{task.tsetTime}}</td>
            <td>{{task.tstopTime}}</td>
			<td class="td-manage">
              <a title="详情" v-bind:id="task.id" onclick="x_admin_show('作业详情','/task/detail/'+id)" href="javascript:;">
                <i class="layui-icon">&#xe63c;</i>
              </a>
              <a title="修改" v-bind:id="task.id" onclick="x_admin_show('修改作业时间','/task/changeTime/'+id,400,400)" href="javascript:;">
                <i class="layui-icon">&#xe631;</i>
              </a>
                <a title="添加" v-bind:id="task.id" onclick="x_admin_show('添加题目','/task/upload/'+id)" href="javascript:;">
                    <i class="layui-icon">&#xe62f;</i>
                </a>
                <!-- 删除作业计划-->
                <a title="删除" v-bind:id="task.id" onclick="delTask(id,'要删除的id')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
			</td>
          </tr>
        </tbody>
      </table>
      <div class="page">
          <div class="page" id="page-data" >
              <a v-if="cur>1" class="paging" href="#" onclick="paging(this)" v-bind:id="1">&lt;&lt;</a>
              <a v-if="cur>1" class="paging" href="#" onclick="paging(this)" v-bind:id="cur-1">{{cur-1}}</a>
              <span class="paging">{{cur}}</span>
              <a v-if="cur<page" class="paging" href="#" onclick="paging(this)" v-bind:id="cur+1">{{cur+1}}</a>
              <a v-if="cur<page" class="paging" href="#" onclick="paging(this)" v-bind:id="page">&gt;&gt;</a>
          </div>
      </div>
    </div>
    <script>
        var vue= new Vue({
            el:"#task-data",
            data:{
                tasks:null
            }
        })
        var vue1 = new Vue({
            el:"#page-data",
            data:{
                cur:null,
                page:null
            }
        })
        $(function () {
            var currents={
                current:1
            }
            showTask(currents)
            function showTask(currents) {
                $.ajax({
                    url:base+"/task/view",
                    data:currents,
                    method:'get',
                    async:true,
                    success:function (data) {
                        vue.tasks = data.records;
                        vue1.cur = data.current;
                        vue1.page = data.pages;
                    }
                })
            }
        })
        function paging(obj) {
          var currents={
            current:obj.id,
          };
          $.ajax({
            url: base + "/task/view",
            data: currents,
            method: "get",
            async: true,
            success: function (data) {
              vue.tasks = data.records;
              vue1.cur = data.current;
              vue1.page = data.pages;
            }
          });
        }

        $("#upload").on("click", function () {
            var file = $('#file')[0].files[0];
            var formData = new FormData();
            formData.append("file_data", file);
            $("#file")[0].outerHTML=$("#file")[0].outerHTML;
            $.ajax({
                url: base + '/task/upLoad',//请求路径
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    layer.msg("上传成功",{icon:6},function () {

                    })
                },
                error: function (err) {
                    layer.msg("上传失败",{icon:5})
                }
            });
        });




        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form, layer = layui.layer;
            //自定义验证规则
            //监听提交
            form.on('submit(sreach)', function(data){
                console.log(data);
                //发异步，把数据提交给php
                $.ajax({
                    url:base+'/task/view',
                    method:'get',
                    data:data.field,
                    success:function (data) {
                        /* //关闭当前frame
                         x_admin_close();
                         // 可以对父窗口进行刷新
                         x_admin_father_reload();*/
                        vue.tasks = data.records;
                        vue1.cur = data.current;
                        vue1.page = data.pages;

                    }
                })
                return false;
            });
        });
		var maxSize = 1000;//文件上传大小限制
        $('#upload').click(function(){
            var size = document.getElementById('file').files[0].size;
            var filesize = (size / 1024).toFixed(2);
            if(filesize < maxSize){
                $.ajax({
                    //上传答案,异步通讯
                    url: '/upload.php',
                    type: 'POST',
                    cache: false,
                    data: new FormData($('#uploadForm')[0]),
                    processData: false,
                    contentType: false
                }).done(function(res) {
                    alert('上传文件成功');
                }).fail(function(res) {
                    alert('上传文件失败');
                });
            }else{
                alert('上传文件不许大于' + maxSize + 'KB');
            }
        });
        layui.use('laydate', function(){
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem:'#time' //指定元素
            });
        });
        function delTask(obj) {
            layer.confirm('确认要删除吗？',function(index) {
                layer.close(index);
                $.ajax({
                    url: base + '/task/taskdelete/' + obj,
                    type: 'get',
                    success: function (data) {
                        if (data == 1) {
                            layer.alert("删除成功", {icon: 6}, function () {
                                location.reload()
                            });
                        } else {
                            layer.alert("删除失败", {icon: 5}, function () {
                                location.reload()
                            });
                        }
                    }
                })

            })
        }
    </script>
  </body>

</html>