<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <div th:replace="commons::header"></div>
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body" id="classInfo">
      <div class="layui-row">
        <div class="layui-form layui-col-md12  layui-form-pane x-so">
          <div class="layui-form-item" id="x-city">
            <label class="layui-form-label">学科</label>
            <div class="layui-input-inline">
              <select id="subject" lay-filter="select" class="layui-form-block" name="subjectName" >
                <option disabled="disabled" onclick="searchFirstLevel(id)">请选择学科</option>
                <option v-for="item in goods">{{item.typeName}}</option>
              </select>
            </div>
            <input class="layui-input" id="starts" name="time" autocomplete="off" placeholder="年份" >
            <button class="layui-btn"  type="submit" lay-submit lay-filter="searchClazz"><i class="layui-icon">&#xe615;</i></button>
          </div>
        </div>
      </div>
      <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加用户','/ClassAdd')"><i class="layui-icon"></i>添加</button>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>班级编号</th>
            <th>学科方向</th>
            <th>新建班级时间</th>
            <th>学年</th>
            <th>开班日期</th>
            <th>实训师</th>
            <th>班主任</th>
            <th >是否有效</th>
            <th>操作</th>
            </tr>
        </thead>
        <tbody>
          <tr v-for="clazz in clazzInfo">
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{{clazz.cid}}</td>
            <td>{{clazz.typename}}</td>
            <td>{{clazz.addTime}}</td>
            <td>{{clazz.startYear}}</td>
            <td>{{clazz.staatDate}}</td>
            <td>{{clazz.tname}}</td>
            <td>{{clazz.mname}}</td>
            <td v-if="clazz.statu==0">是</td>
            <td v-if="clazz.statu==1">否</td>
            <td class="td-manage">
              <a title="查看" v-bind:id="clazz.id" onclick="x_admin_show('编辑','/ClassChange/'+id)" href="javascript:;">
                <i class="layui-icon">&#xe63c;</i>
              </a>
              <a title="删除" v-bind:id="clazz.id" onclick="member_del(this,id)" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="page" id="boxc">
        <div>
          <a class="prev" v-bind:id="1" href="#" onclick="searchClazz(id)">&lt;&lt;</a>
          <a href="#" v-bind:id="pageCurrent-1"  v-if="pageCurrent-1>0" onclick="searchClazz(id)">{{pageCurrent-1}}</a>
          <span class="current">{{pageCurrent}}</span>
          <a href="#" v-bind:id="pageCurrent+1" v-if="pageCurrent+1<=pageTotal" onclick="searchClazz(id)">{{pageCurrent+1}}</a>
          <a class="next" v-bind:id="pageTotal" v-if="pageCurrent+2<=pageTotal" onclick="searchClazz(id)" href="#">&gt;&gt;</a>
        </div>
      </div>
    </div>
    <script>
      var vue = new Vue({
        el: '#classInfo',
        data:{
          goods:null,
          clazzInfo: null,
          pageCurrent:null,
          pageTotal:null
        }
      });
      $.ajax({
        url: base+"/allClassInfo",
        method: "POST",
        async: false,
        success: function (data) {
          vue.clazzInfo = data.records;
          vue.pageCurrent=data.current;
          vue.pageTotal=data.pages;
        }
      })
      $.ajax({
        url: base+"/subject",
        method: "get",
        async: false,
        success: function (data) {
          vue.goods = data;
        }
      })
      function searchClazz(obj) {
        var subject=$("#subject").val()
        var year=$("#starts").val()
        param={
          subject:subject,
          year:year
        }
        $.ajax({
          url: base + "/clazz/" + obj,
          method: "post",
          data:param,
          async: false,
          success: function (data) {
            vue.clazzInfo = data.records;
            vue.pageCurrent = data.current;
            vue.pageTotal = data.pages;
          }
        })
      }
        layui.use('form', function () {
          var form = layui.form;
          //监听提交
          form.on('submit(searchClazz)', function (data) {
            $.ajax({
              url: base+"/searchClazz",
              method: "post",
              data:data.field,
              async: false,
              success: function (data) {
                vue.clazzInfo = data.records;
                vue.pageCurrent = data.current;
                vue.pageTotal = data.pages;
              }
            })
            return false;
          });
        });




















      $(function () {
        layui.use('laydate', function(){
          var laydate = layui.laydate;
          //执行一个laydate实例
          laydate.render({
            elem: '#starts', //指定元素
            type:'year'
          });
      })
        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
            $.ajax({
              url:base+"/removeClazz/"+id,
              method: "POST",
              async: false,
              success: function (data) {
                if (data){
                  $(obj).parents("tr").remove();
                  layer.msg('已删除!',{icon:1,time:1000});
                }
              }
            })
          });
        return false;
      }



    </script>
  </body>
</html>