<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
      <div th:replace="commons::header"></div>
  </head>
  
  <body>
  <div class="x-body" id="classAdd">

      <input type="hidden" th:value="${clazz.id}">
      <form class="layui-form">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>班级名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="clazzName" name="clazzName" required="" lay-verify="required"
                         autocomplete="off" class="layui-input" th:value="${clazz.typename}">
              </div>
          </div>
          <div class="layui-form-item" id="x-city">
              <label class="layui-form-label">学科</label>
              <div class="layui-input-inline">
                  <select id="subject" lay-filter="select" class="layui-form-block" name="subjectName" >
                      <option disabled="disabled">请选择学科</option>
                      <option v-for="item in goods" v-bind:value="item.id">{{item.typeName}}</option>
                  </select>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>新建班级时间
              </label>
              <div class="layui-input-inline">
                  <input type="date" id="endTime" name="startTime" required="" lay-verify="required"
                         autocomplete="off" class="layui-input" th:value="${clazz.addTime}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>学年
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="year" name="year" required="" lay-verify="required"
                         autocomplete="off" class="layui-input" th:value="${clazz.startYear}">
              </div>

          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>开班日期
              </label>
              <div class="layui-input-inline">
                  <input type="date" id="endTime" name="endTime" required="" lay-verify="required"
                         autocomplete="off" class="layui-input" th:value="${clazz.staatDate}">
              </div>

          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">实训师</label>
              <div class="layui-input-inline">
                  <select id="tName" lay-filter="select" class="layui-form-block" name="tName" >
                      <option  th:value="${clazz.tId}">[[${clazz.tName}]]</option>
                      <option v-for="item in tName" v-bind:value="item.id">{{item.tname}}</option>
                  </select>
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">班主任</label>
              <div class="layui-input-inline">
                  <select id="mName" lay-filter="select" class="layui-form-block" name="mName" >
                      <option th:value="${clazz.mId}">[[${clazz.mName}]]</option>
                      <option v-for="item in mName" v-bind:value="item.id">{{item.mname}}</option>
                  </select>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="updateClazz" lay-submit="" type="submit">
                  修改
              </button>
          </div>
      </form>
  </div>
    <script>
        var vue = new Vue({
            el: '#classAdd',
            data:{
                goods:null,
                tName:null,
                mName:null
            }
        });
        // $.ajax({
        //     url: base+"/clazzDetail",
        //     method: "get",
        //     async: false,
        //     success: function (data) {
        //         vue.goods = data;
        //     }
        // })
        $.ajax({
            url: base+"/subject",
            method: "get",
            async: false,
            success: function (data) {
                vue.goods = data;
            }
        })
        $.ajax({
            url: base+"/tName",
            method: "POST",
            async: false,
            success: function (data) {
                vue.tName = data;
            }
        })
        $.ajax({
            url: base+"/mName",
            method: "POST",
            async: false,
            success: function (data) {
                vue.mName = data;
            }
        })































        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
            form.on('submit(updateClazz)', function(data){
                layer.msg("正在修改...", function () {
                    $.post(base+"/updateClazz", data.field, function (data) {
                        if (data){
                            layer.alert("修改成功", {icon: 6},function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                        }
                    });
                });
                return false;
            });
          
          
        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>